extends layout/layout

block content
    div.row.full-height
        div.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h2 Forgot your password?
            | Don't worry, just tell us your email and we will send you a new one.
            br
            br
            if errorMessage.length > 0
                div.alert.alert-danger= errorMessage
            if confirmationMessage.length > 0
                div.alert.alert-success= confirmationMessage
            form(role='form', action="recover_password" method="post")
                .form-group
                    label(for='email') Email address:
                    input#email.form-control(name="email",type='email')
                button.btn.btn-default(type='submit') Recover now!





