extends layout/layout

block content
    div.row.full-height
        div.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h2 Login Now!
            br
            if message.length > 0
                div.alert.alert-danger= message
            form(role='form', action="login" method="post")
                .form-group
                    label(for='email') Email address:
                    input#email.form-control(name="email",type='email')
                .form-group
                    label(for='pwd') Password:
                    input#pwd.form-control(name="password",type='password')

                | Still don't have an account?
                | Don't waste more time and&nbsp;
                a(href="/signup") register
                | &nbsp;into the Pokemon World now!
                br
                | Forgot your password?&nbsp;
                a(href="/forgot_password") Recover it now!
                br
                br
                button.btn.btn-default(type='submit') Login





