extends layout/layout

block content
    div.row.full-height
        div.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h2 Error
            | You are not allowed to access this page.
            br
            | Please&nbsp;
            a(href="/login") login
            | &nbsp;to access page.




