extends layout/layout

block content
    div.row.full-height
        div.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h2 Signup Now!
            br
            if message.length > 0
                div.alert.alert-danger= message

            form(role='form', action="signup" method="post")
                .form-group
                    label(for='username') Username:
                    input#username.form-control(name="username",type='text')
                .form-group
                    label(for='email') Email address:
                    input#email.form-control(name="email",type='email')
                .form-group
                    label(for='pwd') Password:
                    input#pwd.form-control(name="password",type='password')
                | Already have an account?&nbsp;
                a(href="/login") Login now!
                br
                br
                button.btn.btn-default(type='submit') Signup



