extends ../../layout/layout

block content
    div.row.full-height
        div(hidden, data-user="#{JSON.stringify(user)}")#user
        div.col-md-12.col-sm-12
            div.row
                div.col-md-10.col-sm-10
                    h1 Find Events
                div.col-md-2.col-sm-2.text-right
                    br
                    a(href="/events/create").btn.btn-success
                        i.fa.fa-plus &nbsp;
                        | Create Event
            div.row(ng-app="pokegoApp")
                script(src='/javascripts/events/EventsController.js')
                div.col-md-12.col-sm-12(ng-controller="EventsController")
                    include search-bar

                    div.row(ng-if="events.length > 0")
                        div.col-md-12.col-sm-12
                            include results