
h3 Results:
div(ng-repeat="event in events | limitTo: 5").col-md-offset-1.col-sm-offset-1.col-md-10.col-sm-10
    div.panel.panel-default(style="")
        div.panel-heading(style="font-size: 1.2em;background: #3f4c6b; color: white;")
            div.row
                div.col-md-10
                    h4 <% event.local.events.title %>
                    span(style="font-size: 0.8em;")
                        b Location:&nbsp;
                        <% event.local.events.location.country %>
                div.col-md-2.text-right
                    i.fa.fa-thumbs-up.like-button(ng-if="alreadyLikedEvent(event) == false", ng-click="likeEvent(event)")
                    i.fa.fa-thumbs-up.like-button-clicked(ng-if="alreadyLikedEvent(event) == true")
                    p(style="font-size: 0.6em;") <% event.local.events.likes.length %> likes
        div.panel-body(style="font-size: 1.2em;")
            div.row
                div.col-md-3
                    b Date:&nbsp;
                    <% event.local.events.date.split('T')[0] %>
                div.col-md-3
                    b Hour:&nbsp;
                    <% event.local.events.date.split('T')[1].split('.')[0] %>
            br
            b Description:
            br
            <% event.local.events.description %>

        div.panel-footer(style="font-size: 0.8em;")
            | Event created by <% event.local.username %>