div.row
    div.col-md-8.col-sm-8
        input.form-control(ng-model="search.name", placeholder="Search for an event")
    div.col-md-2.col-sm-2
        input.form-control(ng-model="search.location", placeholder="Location")
br
div.row
    div.col-md-2.col-sm-2
        label From:
        input.form-control(ng-model="search.from_date", type="date",placeholder="Date")
    div.col-md-2.col-sm-2
        label To:
        input.form-control(ng-model="search.to_date", type="date",placeholder="Date")
    div.col-md-2.col-sm-2
        label &nbsp;
        br
        button.btn.btn-success(ng-click="searchEvent()") Search