doctype html
html
  head
    title PokeGlobe

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/select2/dist/css/select2.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/angularjs/angularjs.min.js')
    script(src='/angularjs/angularjs-cookies.js')
    script(src='/angularjs/angularjs-routes.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/select2/dist/js/select2.full.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAja8NgkLIU75__7OtIfubu7XdBe1hoVlk')
    script(src='/javascripts/PokeApp.js')
    script(src='/javascripts/map/MapService.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")


    meta(http-equiv="content-language", content="en")
    meta(name="author",content="José Melo")
    meta(name="description",content="Tell the world where you found pokemons and find where the world found pokemons!")
    meta(name="keywords",content="pokemon go, pokemon radar, pokemon map, pokemon, find pokemons")

    link(rel="icon", href="/images/pokeglobe.png")
if user === undefined
  body(style="padding: 80px 0 0 0;")
    include navbar
    div.container-fluid
      block content
if user !== undefined
  body(style="padding: 90px 0 0 0;")
    include navbar
    div.container-fluid
      block content
