nav.navbar.navbar-fixed-top.navbar-default.topnav
    .container-fluid
        // Brand and toggle get grouped for better mobile display

        ul.nav.navbar-nav.navbar-right
            a.brand-title.brand-mobile(href='/mobile/', style="padding: 0.5em;") PGlobe
            a(class="btn",href="/mobile/new", style="color: goldenrod;font-size: 1.2em; padding-top:0.7em;") New Pokemon!
            if user !== undefined
                a(class="btn dropdown-toggle",href="/mobile/profile", style="color: goldenrod;")
                    i.fa.fa-user
                    | &nbsp;&nbsp;Profile

                a(class="btn dropdown-toggle",href="/mobile/events", style="color: goldenrod;")
                    i.fa.fa-calendar-o
                    | &nbsp;&nbsp;Events
                a(class="btn dropdown-toggle",href="/mobile/logout", style="color: goldenrod;")
                    i.fa.fa-power-off
                    | &nbsp;Logout

            if user === undefined
                a(class="btn dropdown-toggle",href="/mobile/login", style="color: goldenrod;")
                    i.fa.fa-lock
                    | &nbsp;Login







        // /.navbar-collapse
    // /.container-fluid