@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Maven+Pro);


html{
  height:100%;
}
.container-fluid{
  height:100%;
}
body {
  font-family: 'Maven Pro', sans-serif;
  height:100%;
  background: goldenrod;
  padding: 50px 0 0;
}

a {
  color: #00B7FF;
}
.full-height{
  height:100%;
  padding: 0;
}


@media (min-width: 768px) {
  .full-height{
    height:100%;
  }

  #showMapButton{
    visibility: hidden;
  }
}



.map-view{
  height:100%;width:100%;
}

input{
  font-size: 1em;
}

.topnav{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: #3f4c6b; /* Old browsers */
  background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

@media(max-width: 768px){

  body {
    font-family: 'Maven Pro', sans-serif;
    height:100%;
    padding: 100px 0 0;
  }
}

.result-box{
  border-bottom: solid 1px #3f4c6b;
  padding: 2em;
  cursor: pointer;
}

.pokemon-heading{
  padding: 1.7em 1.7em 1.7em 0;
}

.pokemon-body{
  padding: 1em;
}

.pokemon-sightseeing-list{
  overflow: scroll;
  height: 300px;

}

.pokemon-sightseeing{
  border: solid 1px #2b669a;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  font-size: 0.8em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
  background: rgb(249,252,247); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */

}

.pokemon-sightseeing-coordinates{
  font-size: 0.7em;
}

.brand-title {
  float: left;
  height: 50px;
  line-height: 20px;
  color: gold;
  font-size: 1.8em;
}
.brand-title:hover,
.brand-title:focus {
  text-decoration: none;
  color: gold;
}
.brand-title > img {
  display: inline-block;
}

@media(min-width: 768px)
{
  .brand-mobile{
    display: none;
  }
}

@media(max-width: 768px)
{
  .brand-website{
    display: none;
  }
}

.text-small{
  font-size: 0.8em;
}

.dropdown:focus{
  background: yellow;
}
.like-button{
  color: white;
}
.like-button-clicked{
  color: #00A000;
}

.input-group-addon{
  border: solid 0px;
}
.form-control{
  border: solid 0px;
}
.panel{
  border:0;
}
.navbar{
  border: 0;
}