div.row
    div.col-md-10.col-md-offset-1.col-sm-8.col-sm-offset-1.col-xs-12
        div.pokemon-heading
            h3(ng-click="closePokemon()")
                i.fa.fa-arrow-left &nbsp; &nbsp; &nbsp;<% pokemon.name %>
            a(href="#map")#showMapButton Show Map
        div.pokemon-body
            div.row
                div.col-md-3.col-sm-3.col-xs-4
                    img(src="/api/pokemon/image?url=<% pokemon.image %>").img-responsive.img-circle
                div.col-md-9.col-sm-9.col-xs-8
                    div.row
                        label(ng-repeat="type in pokemon.types")
                            span.label.label-success(ng-if="type=='Grass'")
                                <% type %>
                            span.label.label-danger(ng-if="type=='Poison'")
                                <% type %>
                            span.label.label-warning(ng-if="type=='Fire' || type=='Electric'")
                                <% type %>
                            span.label.label-info(ng-if="type=='Water' || type=='Flying'")
                                <% type %>
                            span.label.label-default(ng-if="type!='Water' && type!='Fire' && type!='Poison' && type!='Grass' &&type!='Electric' &&type!='Flying'")
                                <% type %>
                            | &nbsp;

                    div.row(style="margin-top: 5em; ")
                        label.label.label-primary Found <% pokemon.location.length %> pokemons
            hr
            div.row
                div.col-md-12.col-sm-12.col-xs-12
                    h4 Sightseeings

            div.row
                div.col-md-10.col-md-offset-1.col-sm-10.col-xs-12
                    div.pokemon-sightseeing-list
                        div(ng-if="pokemon.location.length == 0")
                            | No pokemons found yet!
                            br
                            br
                            | Be the first to catch this pokemon &nbsp;&nbsp;
                            i.fa.fa-smile-o
                        div.pokemon-sightseeing(ng-repeat="location in pokemon.location | reverse")
                            | Pokemon was found at &nbsp;&nbsp;
                            label.pokemon-sightseeing-coordinates
                                a(href="", ng-click="showPokemon(pokemon, location)", style="color: goldenrod;") ( <% location.lat %> , <% location.long %> )
                            br
                            br
                            label.label.label-warning(ng-if="location.user !== undefined")
                                <% location.user %>
                            label.label.label-warning(ng-if="location.user === undefined")
                                | undefined user
                            | &nbsp;
                            label.label.label-info(ng-if="location.date !== undefined")
                                <% dateToString(location.date) %>
