div.row
    div.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1(ng-repeat="result in searchResults | limitTo: 3")
        div.result-box(ng-click="openPokemon(result)")
            div.row
                div.col-md-3.col-sm-3.col-xs-5
                    img(src="/api/pokemon/image?url=<% result.image %>").img-responsive.img-circle
                div.col-md-9.col-sm-9.col-xs-7
                    h3 <% result.name %>
                    label(ng-repeat="type in result.types")
                        span.label.label-success(ng-if="type=='Grass'")
                            <% type %>
                        span.label.label-danger(ng-if="type=='Poison'")
                            <% type %>
                        span.label.label-warning(ng-if="type=='Fire' || type=='Electric'")
                            <% type %>
                        span.label.label-info(ng-if="type=='Water' || type=='Flying'")
                            <% type %>
                        span.label.label-default(ng-if="type!='Water' && type!='Fire' && type!='Poison' && type!='Grass' &&type!='Electric' &&type!='Flying'")
                            <% type %>
                        | &nbsp;
