div.row.full-height(ng-app="pokegoApp", ng-controller="SearchController")
    div.col-md-12.col-sm-12.col-xs-12(style="padding-top: 1em; margin-bottom: 1em;")
        include search-bar

        div.row(ng-if="searchingEnabled == true")
            div.col-md-12.col-sm-12.col-xs-12(ng-if="showingAllResults == true")
                include results

            div.col-md-12.col-sm-12.col-xs-12(ng-if="showingAllResults == false")
                include pokemon
