.input-group.input-group-lg
    span.input-group-addon(style="background: #3f4c6b; color: white;")
        i.fa.fa-search
    input.form-control(type='text', placeholder='What pokemon are you looking for?', ng-model="searchInputString", ng-change="searchValueChanged()")#searchInput

