extends ../../layout/layout

block content
    div.row
        div(hidden, data-user="#{JSON.stringify(user)}")#user
        div.col-md-12.col-sm-12
            div.row
                div.col-md-10.col-sm-10
                    h1 Create New Event
            script(src='/javascripts/events/CreateEventController.js')
            div.row(ng-app="pokegoApp", ng-controller="CreateEventController")
                div.col-md-6.col-sm-6

                    div.alert.alert-danger(ng-if="error.success == false")
                        p(ng-bind-html="error.msg")
                    div.alert.alert-success(ng-if="error.success == true")
                        p(ng-bind-html="error.msg")


                    form
                        .form-group
                            label(for='eventName')
                                i.fa.fa-home
                                | &nbsp;&nbsp;Name
                            input#eventName.form-control(ng-model="event.name", placeholder="Event name")
                        .form-group
                            label
                                i.fa.fa-globe
                                | &nbsp;&nbsp;Location&nbsp;&nbsp;
                            span.text-small Indicate event location on the map.
                            input.form-control(ng-model="event.location.country", placeholder="Country/City Name")

                        .form-group
                            label(for='eventDescription')
                                i.fa.fa-pencil
                                | &nbsp;&nbsp;Description
                            textarea#eventDescription.form-control(ng-model="event.description", placeholder="Event description")

                        .form-group
                            label(for='eventDate')
                                i.fa.fa-calendar
                                | &nbsp;&nbsp;When will be the event?
                            input#eventDate.form-control(ng-model="event.date", placeholder="Event date", type="datetime-local")



                        input(hidden, type="text", ng-model="event.location.latitude", name="latitude")
                        input(hidden, type="text", ng-model="event.location.longitude", name="longitude")
                        input(hidden, type="text", name="user", value="#{user.local.username}")

                        button.btn.btn-success.text-center(type='submit', ng-click="createEvent()") Create Event Now!

                div.col-md-6.col-sm-6(style="height: 400px;")
                    div.map-view#map