nav.navbar.navbar-fixed-top.navbar-default.topnav
    .container-fluid
        // Brand and toggle get grouped for better mobile display

        a.navbar-left.brand-title.brand-website(href='/')
            img(src="/images/pokeglobe.png", width="12%").img-responsive
            | PGlobe

        a.navbar-left.brand-title.brand-mobile(href='/')
            img(src="/images/pokeglobe.png", width="20%").img-responsive
            | PGlobe

        ul.nav.navbar-nav.navbar-right
            a(class="btn",href="/new", style="color: goldenrod;font-size: 1.2em;") I found a Pokemon!
            if user !== undefined
                a(class="btn dropdown-toggle",href="/events", style="color: goldenrod;")
                    i.fa.fa-calendar-o
                    | &nbsp;&nbsp;Events
                a(class="btn dropdown-toggle",href="/profile", style="color: goldenrod;")
                    i.fa.fa-user
                    | &nbsp;&nbsp;Profile
                a(class="btn dropdown-toggle",href="/logout", style="color: goldenrod;")
                    i.fa.fa-power-off
                    | &nbsp;Logout

            if user === undefined
                a(class="btn dropdown-toggle",href="/login", style="color: goldenrod;")
                    i.fa.fa-lock
                    | &nbsp;Login







        // /.navbar-collapse
    // /.container-fluid
