extends layout/layout

block content
    script(src='/javascripts/create/CreateController.js')
    div.row.full-height(ng-app="pokegoApp", ng-controller="CreateController")
        div.col-md-6.col-sm-12
            h2.text-center Found a Pokemon!!
            div.alert.alert-danger(ng-if="error.success == false")
                | An error occurred. Try again!
            div.alert.alert-success(ng-if="error.success == true")
                | Pokemon found! Congratulations!

            hr

            form
                .form-group
                    label(for='choosePokemon')
                        i.fa.fa-optin-monster
                        | &nbsp;&nbsp;Pokemon
                    select#choosePokemon.form-control(ng-model="poke")
                        option(ng-repeat="pokemon in pokemons", value="<% pokemon.id %>")
                            <% pokemon.name %>

                .form-group
                    label
                        i.fa.fa-globe
                        | &nbsp;&nbsp;Location
                    br
                    span.text-small Indicate pokemon location on the map.
                    br
                    span.text-small Default Location: Your current location.

                input(hidden, type="text", ng-model="coordinates.latitude", name="latitude")
                input(hidden, type="text", ng-model="coordinates.longitude", name="longitude")
                if user !== undefined
                    input(hidden, type="text", name="user", value="#{user.local.username}")
                if user === undefined
                    input(hidden, type="text", name="user", value="")



                button.btn.btn-success.text-center(type='submit', ng-click="savePokemon()") Found It !!
        div.col-md-6.col-sm-12.full-height
            div.map-view#map



    script.

        $(document).ready(function () {
            $("#choosePokemon").select2({
                placeholder : 'Select an option',
                allowClear : true
            });
        });

