extends layout/layout
block content
    script(src='/javascripts/search/SearchController.js')
    div.row.full-height
        div.col-md-6.col-sm-12
            include ../search/search-layout
        div.col-md-6.col-sm-12.full-height
            include ../map



