extends layout/layout

block content
    div.row.full-height
        div.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h2 Login
            br
            if message.length > 0
                div.alert.alert-danger= message
            form(role='form', action="/mobile/login" method="post")
                .form-group
                    input#email.form-control(name="email",type='email', placeholder="Email address")
                .form-group
                    input#pwd.form-control(name="password",type='password', placeholder="Password")

                | Still don't have an account?&nbsp;
                a(href="/mobile/signup") Register now!
                br
                | Forgot your password?&nbsp;
                a(href="/mobile/forgot_password") Recover it
                br
                br
                div.row.text-center
                    button.btn.btn-default(type='submit') Login





