extends layout/layout

block content
    div.row.full-height
        div.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h2 Profile
            br
            if errorMessage.length > 0
                div.alert.alert-danger= errorMessage
            if confirmationMessage.length > 0
                div.alert.alert-success= confirmationMessage
            form(role='form', action="profile" method="post")
                .form-group
                    | Username:
                    input#username.form-control(name="username",type='text', value="#{user.local.username}")
                .form-group
                    | Email address:
                    input#email.form-control(name="email",type='email', value="#{user.local.email}")
                .form-group
                    | Old Password:
                    input#old_pwd.form-control(name="old_password",type='password')

                .form-group
                    | New Password:
                    input#new_pwd.form-control(name="new_password",type='password')
                div.row.text-center
                    button.btn.btn-default(type='submit') Update Profile





