extends layout/layout

block content
    div.row.full-height
        div.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h2 Signup
            br
            if message.length > 0
                div.alert.alert-danger= message

            form(role='form', action="/mobile/signup" method="post")
                .form-group
                    input#username.form-control(name="username",type='text', placeholder="Username")
                .form-group
                    input#email.form-control(name="email",type='email', placeholder="Email")
                .form-group
                    input#pwd.form-control(name="password",type='password', placeholder="Password")
                | Already have an account?&nbsp;
                a(href="/mobile/login") Login now!
                br
                br
                div.row.text-center
                    button.btn.btn-default(type='submit') Signup



